<section class="cover">
  <div class="grid">
    {{#if strings.cover.countdown.active}}
    {{> landing_cover_countdown content=strings.cover}}
    {{else}}
    {{> landing_cover_cell content=strings.cover}}
    {{/if}}
  </div>

  <div class="contact">
    <div class="grid">
      <div class="grid__cell global-1of1 text-align--center">
        <h4>{{{strings.contactTitle}}}</h4>
      </div>
    </div>
    <div class="grid">
      <form action="{{ strings.form.mailchimpListUrl }}" method="POST" name="mc-embedded-subscribe-form" id="mc-form" target="_blank" novalidate>
        <div class="grid__cell phone-up-1of1 lap-up-2of6 desk-up-2of8">
          <input type="email" name="EMAIL" value="" placeholder="{{ strings.form.email }}" class="global-1of1" />
        </div>
        <div class="grid__cell phone-up-1of1 lap-up-2of6 desk-up-2of8">
          <input type="text" name="FNAME" value="" placeholder="{{ strings.form.name }}" class="global-1of1" />
        </div>
        <div class="grid__cell phone-up-1of1 lap-up-2of6 desk-up-2of8">
          <input type="text" name="LNAME" value="" placeholder="{{ strings.form.surname }}" class="global-1of1" />
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_75afb8568f065242c10757684_160753883e" tabindex="-1" value="" />
        </div>
        <div class="grid__cell phone-up-1of1 lap-up-1of1 desk-up-2of8">
          <input type="submit" name="subscribe" value="{{ strings.form.send }}" class="button global-1of1" />
        </div>
      </form>
    </div>
  </div>

  <div class="grid">
    {{#if strings.tiles.[0].visible}}
    {{> landing_cover_cell content=strings.tiles.[0]}}
    {{/if}}

    {{#if strings.tiles.[1].visible}}
    {{> landing_cover_cell content=strings.tiles.[1]}}
    {{/if}}
  </div>

  {{> landing_footer}}
</section>
