<div class="grid__cell grid__cell--gutterless phone-up-1of1 {{#if content.halfSize }}tab-up-1of2{{/if}}">
  <div class="cover__tile" style="background-image: url({{content.background}});">
    <div class="cover__tile__box cover__tile__box--{{ content.style }}">
      <div class="cover__tile__content text-align--center">
        <h3>{{{content.headline}}}</h3>
        <p>{{{content.caption}}}</p>
      </div>
      <a id="cta-overlay" class="button button--{{ content.style }}">{{ content.callToAction }}</a>
    </div>
  </div>
</div>
