<div class="grid__cell phone-up-1of1">
    <div class="cover__tile countdown {{#if content.outline}}countdown--outline{{/if}}" style="background: url({{content.background}}) no-repeat center; background-size:cover">
        <div class="cover__tile__box cover__tile__box--{{content.style}} countdown__box">
            <div class="cover__title__content countdown__content v-align">
                <h2 id="countdown">
                    {{#if content.days.active}}<div class="countdown__cell"><span id="countdown_days">0</span><small>{{content.days.label}}</small></div>{{/if}}
                    {{#if content.hours.active}}<div class="countdown__cell"><span id="countdown_hours">0</span><small>{{content.hours.label}}</small></div>{{/if}}
                    {{#if content.minutes.active}}<div class="countdown__cell"><span id="countdown_minutes">0</span><small>{{content.minutes.label}}</small></div>{{/if}}
                    {{#if content.seconds.active}}<div class="countdown__cell"><span id="countdown_seconds">0</span><small>{{content.seconds.label}}</small></div>{{/if}}
                </h2>
            </div>
        </div>
    </div>
</div>
